:root {
    --form-right-border-radius: var(--radius-xl) 0 0 var(--radius-xl);
    --form-left-border-radius: 0 var(--radius-xl) var(--radius-xl) 0;
    --form-fon-width: 320px;
    --form-box-width: 600px;

    --form-closed: 52px;
    --form-content-padding: 40px;

    --form-input-height: 52px;
    --form-textarea-height: 108px;
    --form-input-padding: 16px;
    --form-input-margin-bottom: 40px;
}


/* body */
.no-scroll {
    overflow: hidden;
}

/* calendar */
.right .form_calendar {
    right: var(--form-content-padding);
    width: 620px;
}

.left .form_calendar {
    left: var(--form-content-padding);
    width: 620px;
}

.form_calendar_content {
    width: 280px;
    flex-shrink: 0;
}


/* FORM */
.form {
    position: fixed;
    inset: 0;
    z-index: 10;

    display: flex;
    align-items: flex-start;

    background: rgba(0,0,0,.7);
}

.form.right {
    justify-content: flex-end;
}


.form.left {
    justify-content: flex-start;
}

/* fon */
.form_fon {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    max-width: var(--form-fon-width);
    overflow: hidden;
}

.form.right .form_fon {
    border-radius: var(--form-right-border-radius);
}

.form.left .form_fon {
    order: 2;
    border-radius: var(--form-left-border-radius);
}

.form_fon_picture {
    width: inherit;
    height: inherit;
}

.form_fon_picture_img {
    object-fit: cover;
    object-position: top center;

    width: inherit;
    height: inherit;

    pointer-events: none;
}

/* box */
.form_box {
    position: relative;
    z-index: 2;

    height: 100%;
    width: 100%;
    max-width: var(--form-box-width);

    background: var(--bg-surface);

    overflow: auto;

    /* Скрываем scrollbar для IE, Edge и Firefox */
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
.form_box::-webkit-scrollbar {
    width: 0;
    display: none;
}


.form.right .form_box {
    margin-left: -24px;
    border-radius: var(--form-right-border-radius);
}

.form.left .form_box {
    order: 1;
    margin-right: -24px;
    border-radius: var(--form-left-border-radius);
}

.form_box_closed {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: var(--form-closed);
    height: var(--form-closed);

    display: flex;
    align-items: center;
    justify-content: center;
}

.form_box_closed:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url("./assets/close.svg") center no-repeat;
    zoom: 1;
    transition: zoom .3s ease-in-out;
}

.form_box_closed:hover:before {
    zoom: 1.2;
}

/* content */
.form_content {
    padding: var(--form-content-padding) 0;
}

.form_content_title {
    position: relative;
    z-index: 1;
    padding: 0 var(--form-content-padding);
    font-family: "Montserrat", sans-serif;
}

.form_content_title:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    width: 4px;
    background: var(--primary-default);

    border-radius: 0 8px 8px 0;
}

.form_content_title_description {
    font-size: var(--text-caption);
    line-height: var(--text-caption-line);
    color: var(--primary-default);

    padding-bottom: 8px;
}

.form_content_title_text {
    font-size: var(--text-h2);
    line-height: var(--text-h2-line);
    color: var(--text-primary);
}

.form_content_box {
    padding: var(--form-content-padding);
    font-family: "Montserrat", sans-serif;
}

.form_content_box_description {
    font-size: var(--text-M);
    line-height: var(--text-M-line);
    color: var(--text-primary);

    margin-bottom: var(--form-input-padding);
}

.form_input,
.form_textarea {
    position: relative;

    border: 1px solid var(--border-light);
    border-radius: var(--input-radius);

    font-family: "Montserrat", sans-serif;

    margin-bottom: var(--form-input-padding);
}

.form_input {
    height: var(--form-input-height);
}

.form_textarea {
    min-height: var(--form-textarea-height);
}

.form_input input,
.form_textarea textarea {
    width: 100%;
    box-sizing: border-box;

    background: transparent;

    border: 0;
    outline: none;
    margin: 0;
    border-radius: var(--input-radius);

    color: var(--text-primary);
    font-family: "Montserrat", sans-serif;
    font-size: var(--text-S);
    line-height: var(--text-S-line);
    font-weight: 500;
}

.form_input input {
    height: var(--form-input-height);
    padding: 0 var(--form-input-padding);
}

.form_textarea textarea {
    min-height: var(--form-textarea-height);
    padding: var(--form-input-padding);
    resize: vertical;
}

.form_input_placeholder,
.form_textarea_placeholder {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    background: var(--bg-surface);

    pointer-events: none;

    border-radius: var(--input-radius);

    transition: top .1s ease-in-out;
}

.form_input_placeholder_text,
.form_textarea_placeholder_text {
    height: var(--form-input-height);
    padding: 0 var(--form-input-padding);

    display: inline-flex;
    align-items: center;

    font-size: var(--text-S);
    line-height: var(--text-S-line);
    color: var(--text-ordinary);
    font-weight: 500;

    transition: font-size .1s ease-in-out, line-height .1s ease-in-out, font-weight .1s ease-in-out;
}

.form_input input:focus ~ .form_input_placeholder,
.form_textarea textarea:focus ~ .form_textarea_placeholder,
.form_input input.is-value ~ .form_input_placeholder,
.form_textarea textarea.is-value ~ .form_textarea_placeholder {
    left: 12px;
    top: -8px;
    bottom: auto;
}

.form_input input:focus ~ .form_input_placeholder .form_input_placeholder_text,
.form_textarea textarea:focus ~ .form_textarea_placeholder .form_textarea_placeholder_text,
.form_input input.is-value ~ .form_input_placeholder .form_input_placeholder_text,
.form_textarea textarea.is-value ~ .form_textarea_placeholder .form_textarea_placeholder_text {
    font-size: var(--text-XS);
    line-height: var(--text-XS-line);
    font-weight: 600;
    padding: 0 4px;
    border-radius: 0;
    height: 16px;
}

.form_input_margin {
    margin-bottom: var(--form-input-margin-bottom);
}

.form_button {
    display: flex;
    justify-content: flex-end;
}

.form_input_btn {
    height: 52px;
    padding: 0 28px;
    border: 0;
}

.form_button_transparent {
    border: 1px solid var(--border-normal);
    border-radius: var(--radius-l);
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Montserrat", serif;
    color: var(--text-fixed);
    font-weight: 500;
    white-space: nowrap;
    font-size: var(--text-M);

    margin-right: 16px;
}

.form_button_transparent:hover {
    background-color: var(--bg-medium);
}

.form_button_transparent:active {
    background-color: transparent;
}

/* hidden */
.form_hidden {
    display: none;
}

/* animation */
.form.animation.open {
    visibility: visible;
}

.form.animation:not(.open) {
    visibility: hidden;
    animation: formVisibility .6s ease-in-out;
}

.form:not(.animation) {
    display: none;
}


/* right */
.form.right.animation.open .form_fon {
    right: 0;
    animation: formAnimationRight .8s ease-in-out;
}

.form.right.animation:not(.open) .form_fon {
    right: -100%;
    animation: formAnimationRightReverse .6s ease-in-out;
}


.form.right.animation.open .form_box {
    right: 0;
    animation: formAnimationRight .6s ease-in-out;
}


.form.right.animation:not(.open) .form_box {
    right: -100%;
    animation: formAnimationRightReverse .8s ease-in-out;
}

/* left */
.form.left.animation.open .form_fon {
    left: 0;
    animation: formAnimationLeft .8s ease-in-out;
}

.form.left.animation:not(.open) .form_fon {
    left: -100%;
    animation: formAnimationLeftReverse .6s ease-in-out;
}


.form.left.animation.open .form_box {
    left: 0;
    animation: formAnimationLeft .6s ease-in-out;
}


.form.left.animation:not(.open) .form_box {
    left: -100%;
    animation: formAnimationLeftReverse .8s ease-in-out;
}


@keyframes formAnimationRight {
    from { right: -100% }
    to { right: 0; }
}

@keyframes formAnimationRightReverse {
    from { right: 0}
    to { right: -100% ; }
}


@keyframes formAnimationLeft {
    from { left: -100% }
    to { left: 0; }
}

@keyframes formAnimationLeftReverse {
    from { left: 0}
    to { left: -100% ; }
}

@keyframes formVisibility {
    0% { visibility: visible; }
    99% { visibility: visible; }
    100% { visibility: hidden; }
}
