@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", serif;
}

html {
  	scroll-behavior: smooth;
	font-family: "Montserrat", serif;
}

body {
	background-color: var(--bg-light);
	font-family: "Montserrat", serif;
	align-items: center;
}

.link {
	text-decoration: none;
	cursor: pointer;
}

.title {
	color: var(--primary-default);
	font-family: "Montserrat", serif;
	font-weight: 800;
	font-size: var(--text-display);
	opacity: 30%;
	margin: 80px 0;
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	max-width: 1180px;
	flex-direction: column;
	align-self: center;
}

.description {
	font-family: "Montserrat", serif;
	font-size: var(--text-M);
	color: var(--text-secondary);
	line-height: var(--text-h4-line);
}


.home {
	background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
	color: var(--text-primary);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 24px 40px;
	border-radius: var(--radius-xxl);
	position: relative;
	overflow: hidden;
	transition: background 800ms ease-in-out;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2; 
}

.home.scrolled {
    background: linear-gradient(224.87deg, #6CC8F1 0%, #78A6FF 13.46%, #7E96FF 37.98%, #888BFF 56.25%, #978CFF 82.21%, #B97BFF 100%);;
}

.home__header-container {
	position: relative;
	border-radius: var(--radius-l);
	padding: 8px 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1248px;
	width: 100%;
	margin-top: 16px;
	z-index: 10;
}

.home__header-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--bg-surface);
	border-radius: var(--radius-l);
	opacity: 0.7;
	z-index: -1;
	transition: opacity 800ms ease-in-out;
	max-width: 1248px;
	width: 100%;
	padding: 8px 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home__header-links-wrapper {
	display: flex;
	gap: 24px;
}

.home__header-container.scrolled {
    opacity: 100%;
}

.home__header-link {
	font-family: "Montserrat", sans-serif;
	color: var(--text-primary);
	font-size: var(--text-S);
	line-height: 18px;
}

.home__header-logo-container {
	display: flex;
	gap: 7px;
	justify-content: center;
    align-items: center;
}

.home__header-logo-travel {
	width: 91px;
	height: 16px;
}

.home__description {
	margin: 184px 0;
	display: flex;
	flex-direction: column;
	gap: 40px;
	position: relative; 
    z-index: 2; 
}

.home__title {
	font-weight: 800;
	font-size: var(--text-display);
	color: var(--bg-invert);
	font-family: "Montserrat", serif;
	line-height: 112%;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
}

.home__text {
	font-weight: 600;
	font-family: "Montserrat", serif;
	font-size: var(--text-h1);
	color: var(--bg-invert);
	line-height: 120%;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
}

.home__img-heart {
    position: absolute;
    z-index: 1; 
    width: 585px;
    height: 560px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 90%; 
    pointer-events: none; 
    transition: all 800ms ease-in-out;
	opacity: 0.9;
	backdrop-filter: blur(9.04px);
    -webkit-backdrop-filter: blur(9.04px); /* Для Safari */
}

.home__img-heart.scrolled {
    left: 20%;
    transform: translate(-50%, -50%) scale(0.8);
}

/* Новый текст (скрыт изначально) */
.home__description-new {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(30px);
    opacity: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
    pointer-events: none;
}

.home__description-new.visible {
    opacity: 1;
    transform: translate(-50%, -50%) translateX(0);
}

.home__title-new {
    font-weight: 800;
    font-size: var(--text-display);
    color: var(--bg-invert);
    font-family: "Montserrat", serif;
    line-height: 112%;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.home__text-new {
    font-weight: 600;
    font-family: "Montserrat", serif;
    font-size: var(--text-h1);
    color: var(--bg-invert);
    line-height: 120%;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: var(--radius-xxl);
    transition: opacity 800ms ease-in-out;
}

.slider.hidden {
    opacity: 0;
    pointer-events: none;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateX(30px);
    border-radius: var(--radius-xxl);
}

.slide.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 2;
    border-radius: var(--radius-xxl);
}

.slide.next {
    transform: translateX(30px);
    z-index: 1;
    border-radius: var(--radius-xxl);
}

.intro {
	background: linear-gradient(224.87deg, #6CC8F1 0%, #78A6FF 13.46%, #7E96FF 37.98%, #888BFF 56.25%, #978CFF 82.21%, #B97BFF 100%);
	display: flex;
	flex-direction: column;
	border-radius: var(--radius-xxl);
	margin: 24px 40px;
}

.intro__container {
	margin: 0 auto;
}

.intro__wrapper {
	display: flex;
	justify-content: space-between;
	margin: 120px 0;
	gap: 80px;
}

.intro__text-wrapper {
	font-size: var(--text-h3);
	font-family: "Montserrat", serif;
	color: var(--bg-invert);
	max-width: 540px;
	line-height: 120%;
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-self: center;
}

.intro__text {
	line-height: 120%;
}

.intro__img {
	width: 520px;
	height: 498px;
}

.company {
	display: flex;
	flex-direction: column;
	margin: 0 40px;
}

.company__item {
	display: flex;
	gap: 48px;
}

.company__wrapper {
	margin: 0 auto;
}

.company__item-left {
	max-width: 360px;
	width: 100%;
}

.company__text-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.company__item-title-up {
	margin-bottom: 8px;
}


.item-title {
	color: var(--primary-default);
	font-weight: 500;
	font-family: "Montserrat", serif;
	font-size: var(--text-caption);
}

.item-subtitle {
	color: var(--text-primary);
	font-weight: 500;
	font-size: var(--text-h2);
	font-family: "Montserrat", serif;
	line-height: var(--text-h2-line);
}

.company__wrapper {
	display: flex;
	flex-direction: column;
	gap: 80px;
	margin-bottom: 80px;
}

.company__right {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;   
    column-gap: 24px; 
    align-items: start;
}



.company__grid-item {
    position: relative;
    border-radius: var(--radius-xl);
    padding: 24px 24px 40px 24px;
    border: 2px solid transparent;
    background: 
            linear-gradient(#1F283A, #1F283A) padding-box,
            linear-gradient(224.87deg, #6CC8F1 0%, #78A6FF 13.46%, #7E96FF 37.98%, #888BFF 56.25%, #978CFF 82.21%, #B97BFF 100%) border-box;
    isolation: isolate;
	box-sizing: border-box;
}



.company__grid-item-no-border {
    position: relative;
    align-items: flex-start;
    padding: 24px 24px 40px 24px;
    isolation: isolate;
    background: #1B2B4A;
    border-radius: var(--radius-xl);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
	box-sizing: border-box;
	z-index: 0;
}

/*фон*/
.company__grid-item-no-border::after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(236.05deg, #6CC8F1 -16.56%, #78A6FF 14.44%, #7E96FF 29.12%, #888BFF 45.9%, #978CFF 56.19%, #B97BFF 87.71%);
    opacity: 0.2;
    backdrop-filter: blur(7.32816px);
    border-radius: var(--radius-xl);
    z-index: -1;
}

.company__logo {
	width: 56px;
	height: 56px;
	margin-bottom: 24px;
}

.company__item-description-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.company__item-right-title {
	font-family: "Montserrat", serif;
	font-weight: 600;
	font-size: var(--text-h4);
	color: var(--text-primary);
	margin-bottom: 8px;
	line-height: var(--text-h4-line);
}

.company__item-right-description {
	font-family: "Montserrat", serif;
	font-size: var(--text-S);
	color: var(--text-secondary);
	line-height: var(--text-S-line);
}

.services {
	background-color: var(--bg-surface);
	margin: 24px 40px;
	border-radius: var(--radius-xxl);
	display: flex;
	flex-direction: column;
	padding-bottom: 80px;
}

.services__title {
	margin-top: 80px;
}

.services__wrapper {
	display: flex;
	flex-direction: column;
	gap: 80px;
	margin: 0 auto;
}

.services__item {
	display: flex;
	gap: 40px;
	align-items: stretch;
}

.services__img {
	max-width: 560px;
    width: 100%;
    height: 100%;
	border-radius: var(--radius-xl);
}

.services__item-with-img {
    display: flex;
	height: 100%; 
	padding: 0 40px;
}

.services__text-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;

}

.services__link-wrapper {
	margin-top: 40px;
}

.services__item-title {
	margin-bottom: 8px;
}

.services__item-with-text {
	max-width: 560px;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 24px 24px 62px 40px;
}

.services__btn {
	padding: 18px 28px;
	display: inline-block;
}

.services__btn-wrapper {
	margin-top: 40px;
}

.link-wrapper {
	display: flex;
	align-items: center;
	gap: 12px;
	cursor: pointer;
}

.link-arrow {
	height: 24px;
	width: 24px;
}

.blue-link {
	font-family: "Montserrat", serif;
	font-weight: 600;
	color: var(--text-link);
	white-space: nowrap;
}


.blue-button {
	background-color: var(--primary-blue);
	border-radius: var(--radius-l);
	font-family: "Montserrat", serif;
	color: var(--text-fixed);
	font-weight: 500;
	white-space: nowrap;
}

.blue-button:hover {
	background-color: var(--primary-hover);
}

.blue-button:active {
	background-color: var(--primary-pressed);
}

.clients__item-up-button {
	padding: 16px;
	display: inline-block;
}

.clients__item-up-button-wrapper {
	margin-top: 40px;
}

.clients__link-wrapper {
	margin-top: 40px;
}


.clients__item {
	display: flex;
	justify-content: space-between;
	gap: 80px;
	background-color: var(--bg-surface);
	border-radius: var(--radius-xxl);
}

.clients__item-left {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
	flex: 1;
}

.clients {
	display: flex;
	flex-direction: column;
	margin: 0 40px 24px 40px;
}

.clients__title {
	margin-top: 80px;
}

.clients__wrapper {
	margin: 0 auto;
}

.clients__text-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}


.clients__img-screen {
	height: 447px;
	width: 500px;
	margin-top: 40px;
}

.clients__img-underscreen {
	height: 25px;
	width: 560px;
}

.clients__item-right {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-medium);
	border-radius: var(--radius-xxl);
	align-items: flex-end;
	max-width: 600px;
	width: 100%;
	margin-left: auto;
	flex-shrink: 0;

}

.clients__item-down {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-surface);
	border-radius: var(--radius-xxl);
	padding: 40px; 
}

.clients__item-text-wrapper {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.clients__item-title {
	margin-bottom: 8px;
}


.clients__item-description {
	font-size: var(--text-caption);
	font-family: "Montserrat", serif;
	color: var(--text-primary);
}

.clients__items-wrapper {
	display: flex;
	flex-direction: column;
	gap: 80px;
}

.clients__cards-wrapper {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 24px 24px;
}

.clients__card-up {
	max-width: 384px;
	width: 100%;
	position: relative;
	border-radius: var(--radius-xl);
	display: flex;
	gap: 24px;
	padding: 24px 24px 40px 24px;
	background: 
            linear-gradient(#1F283A, #1F283A) padding-box,
            linear-gradient(224.87deg, #6CC8F1 0%, #78A6FF 13.46%, #7E96FF 37.98%, #888BFF 56.25%, #978CFF 82.21%, #B97BFF 100%) border-box;
    border-radius: var(--radius-xl);
    border: 2px solid transparent;
	box-sizing: border-box;
}

.clients__card-up-no-border {
	max-width: 384px;
	width: 100%;
	position: relative;
	border-radius: var(--radius-xl);
	display: flex;
	gap: 24px;
	padding: 24px 24px 40px 24px;
	isolation: isolate;
    border-radius: var(--radius-xl);
	flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
	z-index: 0;
	box-sizing: border-box;
}

.clients__card-up-no-border::after {
	content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(236.05deg, #6CC8F1 -16.56%, #78A6FF 14.44%, #7E96FF 29.12%, #888BFF 45.9%, #978CFF 56.19%, #B97BFF 87.71%);
    opacity: 0.2;
    backdrop-filter: blur(7.32816px);
    border-radius: var(--radius-xl);
    z-index: -1;
	max-width: 384px;
	width: 100%;

}

.clients__down-btn {
	padding: 16px;
	display: inline-block;
}

.clients__down-button-wrapper {
	margin-top: 16px;
}

.clients__card-right {
	display: flex;
	flex-direction: column;
}

.clients__number-img {
	width: 56px;
	height: 56px;
}

.clients__card-down {
    max-width: 384px;
	border-radius: var(--radius-xl);
	display: flex;
	gap: 24px;
	padding: 24px 24px 60px 24px;
	background: 
            linear-gradient(#1F283A, #1F283A) padding-box,
            linear-gradient(224.87deg, #6CC8F1 0%, #78A6FF 13.46%, #7E96FF 37.98%, #888BFF 56.25%, #978CFF 82.21%, #B97BFF 100%) border-box;
    backdrop-filter: blur(7.32816px);
    border-radius: var(--radius-xl);
    border: 2px solid transparent;

}

.clients__card-title {
	font-family: "Montserrat", serif;
	font-weight: 600;
	font-size: var(--text-h4);
	color: var(--text-primary);
	margin-bottom: 8px;
}

.clients__card-down-title {
	font-family: "Montserrat", serif;
	font-weight: 600;
	font-size: var(--text-h4);
	color: var(--text-primary);
}

.clients__card-up-description {
	font-family: "Montserrat", serif;
	font-size: var(--text-S);
	color: var(--text-secondary);
	line-height: var(--text-S-line);
}

.clients__card-down-description {
	font-family: "Montserrat", serif;
	font-size: var(--text-S);
	color: var(--text-secondary);
	line-height: var(--text-S-line);
}

.agency {
	display: flex;
	flex-direction: column;
	margin: 0 40px 80px 40px;
}

.agency__title {
	margin-top: 80px;
}

.agency__wrapper {
	margin: 0 auto;
}

.agency__text-and-card-wrapper {
	display: flex;
	gap: 48px;
}

.agency__left {
	max-width: 360px;
	width: 100%;
}

.agency__left {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.agency__right {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 24px 24px;
	align-items: start;
}

.agency__img {
	width: 56px;
	height: 56px;
}

.agency__card-text {
	font-family: "Montserrat", serif;
	font-weight: 600;
	font-size: var(--text-h4);
	color: var(--text-primary);
	line-height: var(--text-M-line);
}

.agency__card {
	max-width: 384px;
	border-radius: var(--radius-xl);
	display: flex;
	flex-direction: column;
	padding: 24px 24px 40px 24px;
	gap: 24px;
	background: 
            linear-gradient(#1F283A, #1F283A) padding-box,
            linear-gradient(224.87deg, #6CC8F1 0%, #78A6FF 13.46%, #7E96FF 37.98%, #888BFF 56.25%, #978CFF 82.21%, #B97BFF 100%) border-box;
    backdrop-filter: blur(7.32816px);
    border-radius: var(--radius-xl);
    border: 2px solid transparent;
	box-sizing: border-box;
}

.agency__card-no-border {
    position: relative;
    display: flex;
	gap: 24px;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px 40px 24px;
	max-width: 384px;
    isolation: isolate;
    background: #1B2B4A;
    border-radius: var(--radius-xl);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
	box-sizing: border-box;
}

/*фон*/
.agency__card-no-border::after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(236.05deg, #6CC8F1 -16.56%, #78A6FF 14.44%, #7E96FF 29.12%, #888BFF 45.9%, #978CFF 56.19%, #B97BFF 87.71%);
    opacity: 0.2;
    backdrop-filter: blur(7.32816px);
    border-radius: var(--radius-xl);
    z-index: -1;
	box-sizing: border-box;
}


.start__title {
	color: var(--text-fixed);
	font-family: "Montserrat", serif;
	font-weight: 800;
	font-size: var(--text-display);
	margin: 120px 0px 80px 40px;
}


.start {
	background: linear-gradient(224.87deg, #6CC8F1 0%, #78A6FF 13.46%, #7E96FF 37.98%, #888BFF 56.25%, #978CFF 82.21%, #B97BFF 100%);
	margin: 24px 40px;
	border-radius: var(--radius-xxl);
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.start__cards_wrapper {
	display: flex;
	gap: 24px;
	max-width: 1200px;
	margin: 0 24px 120px 24px;
	justify-self: center;
}


.start__card-title {
	font-family: "Montserrat", serif;
	font-weight: 600;
	font-size: var(--text-h4);
	color: var(--text-primary);
	line-height: var(--text-caption-line);
}


.start__card-description {
	font-family: "Montserrat", serif;
	font-size: var(--text-S);
	color: var(--text-primary);
	line-height: var(--text-S-line);
}

.start__card {
    position: relative; 
    background-color: transparent;
    border-radius: var(--radius-xl);
    max-width: 384px;
    width: 100%;
    padding: 24px 24px 40px 24px;
    display: flex;
    gap: 24px;
    z-index: 1; 
}

.start__card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-tonal);
    border-radius: var(--radius-xl);
    opacity: 0.5; 
    z-index: -1; 
}

.start__card-white {
	background-color: var(--bg-invert);
	border-radius: var(--radius-xl);
	max-width: 384px;
	width: 100%;
	padding: 24px 24px 40px 24px;
	display: flex;
	gap: 24px;
	color: var(--text-invert);
}

.start__card-title-black {
	font-family: "Montserrat", serif;
	font-weight: 600;
	font-size: var(--text-h4);
	color: var(--text-invert);
	line-height: var(--text-caption-line);
}

.start__card-description-black {
	font-family: "Montserrat", serif;
	font-size: var(--text-S);
	color: var(--text-invert);
	line-height: var(--text-S-line);
}

.start__btn {
	padding: 16px 28px;
	display: inline-block;
}

.start__btn-wrapper {
	margin-top: 8px;
}

.start__card-right {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.start__img-left {
	width: 445px;
	height: 325px;
	position: absolute;
	z-index: -2;
}

.start__img-plane {
	width: 40px;
	height: 40px;
	z-index: 2;
	top: 290px; 
    left: 20px; 
	position: absolute;
}

.start__img-right {
	position: absolute;
	z-index: -2;
	top: 170px; 			
    right: -30px; 

}

.start__img-middle {
	position: absolute;
	z-index: -2;
	top: 250px; 		
    right: 0px; 
}

.start__img-plane-right {
	width: 40px;
	height: 40px;
	z-index: 2;
	position: absolute;
	top: 216px; 
    right: 80px; 
	transform: rotate(345deg);
}

.questions {
	margin: 0 40px;
	display: flex;
	flex-direction: column;
}


.questions__items-wrapper {
	display: flex;
	justify-self: center;
	flex-direction: column;
	gap: 24px;
	align-items: start;
	margin: 0 auto
}

.questions {
	margin: 104px 40px 80px 40px;
}

.questions__item {
	max-width: 800px;
	width: 100%;
	padding: 24px 24px 44px 24px;
	border-radius: var(--radius-xl);
	display: flex;
	gap: 24px;
	background: 
            linear-gradient(#1F283A, #1F283A) padding-box,
            linear-gradient(224.87deg, #6CC8F1 0%, #78A6FF 13.46%, #7E96FF 37.98%, #888BFF 56.25%, #978CFF 82.21%, #B97BFF 100%) border-box;
    backdrop-filter: blur(7.32816px);
    border-radius: var(--radius-xl);
    border: 2px solid transparent;
	box-sizing: border-box;
}

.questions__item-no-border {
    position: relative;
    display: flex;
	gap: 24px;
    align-items: flex-start;
    padding: 24px 24px 44px 24px;
	max-width: 800px;
	width: 100%;
    isolation: isolate;
    border-radius: var(--radius-xl);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
	z-index: 0;
	box-sizing: border-box;
}

/*фон*/
.questions__item-no-border::after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
   	top: 0px;
    bottom: 0px;
    background: linear-gradient(236.05deg, #6CC8F1 -16.56%, #78A6FF 14.44%, #7E96FF 29.12%, #888BFF 45.9%, #978CFF 56.19%, #B97BFF 87.71%);
    opacity: 0.2;
    backdrop-filter: blur(7.32816px);
    border-radius: var(--radius-xl);
    z-index: -1;
	backdrop-filter: blur(14.65631103515625px)
}

.questions__img {
	width: 56px;
	height: 56px;
}

.questions__item-title {
	font-family: "Montserrat", serif;
	font-weight: 600;
	font-size: var(--text-h4);
	color: var(--text-primary);
	line-height: var(--text-caption-line);
}

.questions__item-description {
	font-family: "Montserrat", serif;
	font-size: var(--text-S);
	color: var(--text-secondary);
	line-height: var(--text-S-line);
}

.questions__item-right {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.footer {
	background-image: url(./assets/foooter.png);
	background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
	margin: 24px 40px;
	border-radius: var(--radius-xxl);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 0;
	display: flex;
	flex-direction: column;
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    z-index: -1; 
}


.footer__wrapper {
	display: flex;
	flex-direction: column;
	margin: 320px 0;
	gap: 24px;
	position: relative;
	z-index: 2; 
}

.footer__img-heart {
	position: absolute;
	z-index: 1;
	max-width: 727px;
	top: 120px;
	max-height: 682px;
	opacity: 0.9;
	backdrop-filter: blur(9.04px);
    -webkit-backdrop-filter: blur(9.04px); /* Для Safari */
}

.footer__title {
	font-family: "Montserrat", serif;
	color: var(--text-fixed);
	font-weight: 600;
	font-size: var(--text-h1);
	text-align: center; 
	margin: 0 auto;
}

.footer__mail-wrapper {
	display: flex;
	gap: 16px;
	align-items: center;
}

.footer__phone-wrapper {
	display: flex;
	gap: 16px;
	align-items: center;
}

.footer__items-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.footer__mail-link {
	color: var(--text-link);
	font-weight: 600;
	font-family: "Montserrat", serif;
	font-size: var(--text-L);
	line-height: var(--text-L-line);
}

.footer__phone-link {
	font-family: "Montserrat", serif;
	font-weight: 600;
	line-height: var(--text-L-line);
	color: var(--text-fixed);
}

.footer__btn {
	padding: 16px 95px;
	margin-top: 16px;
}

@media (max-width: 1280px) {
	.start__cards_wrapper {
		display: flex;
		flex-direction: column;
	}

	.start__card {
		max-width: 804px;
		width: 100%;
	}

	.start__card-white {
		max-width: 804px;
		width: 100%;
	}

	.blue-button {
		padding: 14px 24px;
		font-size: var(--text-S);
	}
	
}

@media (max-width: 899px) and (min-width: 601px) {
	.agency__text-and-card-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.company__item {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.clients__item {
		display: flex;
		flex-direction: column;
	}

	.clients__item-right {
		margin: 0px;
		width: 100%;
        	max-width: 100%;
	}


	.clients__cards-wrapper {
		display: flex;
		flex-direction: column;
	}

	.company__text-wrapper {
		width: 100%;
		max-width: 100%;
	}

	.company__wrapper {
		gap: 24px;
	}

	.company__text-wrapper {
		gap: 12px;
	}

	.company__right {
		gap: 12px;
	}

	.company__grid-item {
		border-radius: var(--radius-m)
	}

	.company__grid-item-no-border {
		border-radius: var(--radius-m)
	}

	.company__grid-item-no-border::after {
		border-radius: var(--radius-m)
	}

	.services__text-wrapper {
		gap: 12px;
	}

	.services__item-with-text {
		padding: 12px 16px 28px 16px;
	}

	.services__btn-wrapper {
		margin-top: 16px;
	}

	.services__wrapper {
		gap: 24px;

	}

	.services__item-with-img {
		padding: 0 16px;
	}

	.services__item {
		gap: 0;
	}

	.clients__item-up-button-wrapper {
		margin-top: 16px;

	}

	.clients__link-wrapper {
		margin-top: 16px;
	}

	.clients__item-left {
		padding: 16px;

	}

	.clients__item {
		gap: 32px;
	}

	.clients__img-screen {
		margin-top: 16px;
	}

	.clients__img-underscreen {
		margin-bottom: 16px;
	}

	.clients__item-down {
		padding: 16px;
	}

	.clients__card-up {
		padding: 12px 12px 12px 16px;
		border-radius: var(--radius-m);
	}

	.clients__card-up-no-border {
		padding: 12px 12px 12px 16px;
		border-radius: var(--radius-m);
	}

	.clients__card-down {
		padding: 12px 12px 12px 16px;
		border-radius: var(--radius-m);
	}

	.clients__card-up-no-border::after {
		padding: 12px 12px 12px 16px;
		border-radius: var(--radius-m);
	}

	.agency__wrapper {
		margin-top: 24px;
	}

	.agency__text-and-card-wrapper {
		gap: 36px;
	}

	.agency__right {
		gap: 12px 12px;
	}

	.agency__card {
		padding: 12px 12px 12px 16px;
	}

	.agency__card-no-border {
		padding: 12px 12px 12px 16px;
	}

	.start__card::before {
		border-radius: var(--padding-radius-s);
	}

	.start__card {
		padding: 12px 12px 16px 12px;
	}

	.start__card-white {
		border-radius: var(--padding-radius-s);
		padding: 12px 12px 16px 12px;
	}

	.start__title {
		margin: 40px 0 24px 0;
	}

	.start__cards_wrapper {
		margin-left: 16px;
		margin-right: 16px;
		margin-bottom: 39.6px;
	}

	.start__container {
		margin: 0 16px;
	}

	.questions {
		margin-top: 16px;
	}

	.questions__items-wrapper {
		gap: 12px;
	}

	.questions__item {
		padding: 12px 12px 16px 12px;
		border-radius: var(--padding-radius-s);	

	}

	.questions__item-no-border {
		padding: 12px 12px 16px 12px;
		border-radius: var(--padding-radius-s);
	}

	.questions__item-no-border::after {
		border-radius: var(--padding-radius-s);
	}

	.agency__card {
		border-radius: var(--radius-m);
	}

	.agency__card-no-border {
		border-radius: var(--radius-m);
	}

	.agency__card-no-border::after {
		border-radius: var(--radius-m);
	}

	.footer__btn {
		padding: 14px 80.5px;
	}
}

@media (max-width: 600px) {
	.company__right {
		display: flex;
		flex-direction: column;
		gap: 12px;	
	}

	.company__item {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.company__grid-item {
		border-radius: var(--radius-m)
	}

	.company__grid-item-no-border {
		border-radius: var(--radius-m)
	}

	.company__grid-item-no-border::after {
		border-radius: var(--radius-m)
	}

	.services__item {
		display: flex;
		flex-direction: column;
	}

	.agency__right {
		display: flex;
		flex-direction: column;
	}

	.title {
		margin: 24px 0;
	}

	.company__text-wrapper {
		gap: 12px;
	}

	.company__wrapper {
		gap: 24px;
	}

	.services {
		margin-top: 12px;
		margin-left: 16px;
		margin-right: 16px;
	}

	.services__text-wrapper {
		gap: 12px;
	}

	.services__btn-wrapper {
		margin-top: 16px;
	}

	.services__item {
		gap: 24px;
	}

	.services__item-with-img {
    		order: 1; 
		padding: 12px 16px;
	}
	
	.services__item-with-text {
    		order: 2; 
		padding: 12px 16px;
	}

	.services__wrapper {
		gap: 8px;
	}

	.services {
		padding-bottom: 24px;
	}

	.clients__item {
		display: flex;
		flex-direction: column;
	}

	.clients__item-left {
		padding: 16px 16px 0 16px;
	}

	.clients__item-up-button-wrapper {
		margin-top: 16px;
	}

	.clients__link-wrapper {
		margin-top: 16px;
	}

	.clients__item {
		gap: 34px;
	}

	.clients__item-down {
		padding: 16px;
	}

	.clients__item-subtitle {
		margin-bottom: 12px;
	}

	.clients__item-text-wrapper {
		gap: 16px;
	}

	.clients__item-description {
		line-height: var(--text-caption-line);
	}

	.clients__cards-wrapper {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.clients__card-up {
		padding: 12px 12px 12px 16px;
		border-radius: var(--radius-m);
	}

	.clients__card-up-no-border {
		padding: 12px 12px 12px 16px;
		border-radius: var(--radius-m);
	}

	.clients__card-down {
		padding: 12px 12px 12px 16px;
		border-radius: var(--radius-m);
	}

	.clients__card-up-no-border::after {
		padding: 12px 12px 12px 16px;
		border-radius: var(--radius-m);
	}

	.agency__text-and-card-wrapper {
		display: flex;
		flex-direction: column;
		gap: 36px;
	}

	.agency__right {
		gap: 12px;
	}

	.agency__card {
		padding: 12px 12px 12px 16px;
	}

	.agency__card-no-border {
		padding: 12px 12px 12px 16px;
	}

	.agency {
		margin-bottom: 36px;
	}

	.start__title {
		margin: 40px 0 24px 0;
	}

	.start__cards_wrapper {
		gap: 12px;
		margin-bottom: 39.6px;
	}

	.start__card-white {
		padding: 12px 12px 16px 12px;
		border-radius: var(--padding-radius-s);
	}

	.start__card::before {
		border-radius: var(--padding-radius-s);
	}

	.start__card {
		padding: 12px 12px 16px 12px; 
	}

	.start__container {
		margin: 0 16px;
	}

	.questions__item-title {
		line-height: var(--text-h4-line);
	}

	.questions__item {
		padding: 12px 12px 16px 12px;
		border-radius: var(--padding-radius-s);
	}

	.questions__item-no-border {
		padding: 12px 12px 16px 12px;
		border-radius: var(--padding-radius-s);
	}

	.questions__item-no-border::after {
		border-radius: var(--padding-radius-s);
	}

	.questions__title {
		margin: 24px 0;
	}

	.agency__card {
		border-radius: var(--radius-m);
	}

	.agency__card-no-border {
		border-radius: var(--radius-m);
	}

	.agency__card-no-border::after {
		border-radius: var(--radius-m);
	}

	.footer__btn {
		padding: 14px 44.5px;
	}


}

@media (max-width: 1280px) and (min-width: 900px) {
	.company__item {
		gap: 16px;
	}

	.clients__cards-wrapper {
		grid-template-columns: repeat(2, 1fr);
		gap: 16px 16px;
	}

	.title {
		margin: 40px 0;
	}

	.company__wrapper {
		gap: 40px;
	}

	.services__item-with-text {
		padding-top: 24px;
		padding-right: 24px;
		padding-left: 24px;
	 
	}

	.services__item-with-img {
		padding-top: 24px;
		padding-right: 24px;
		padding-left: 24px;
	}

	.services__item {
		gap: 16px;
	}

	.services__btn {
		padding: 16px 28px;
	}

	.clients__item-left {
		padding-left: 24px;
		padding-top: 24px;
		padding-bottom: 24px;

	}

	.clients__item {
		gap: 24px;
	}

	.clients__item-up-button-wrapper {
		margin-top: 24px;
	}

	.clients__link-wrapper {
		margin-top: 24px;
	}

	.clients__item-down {
		padding: 24px;
	}

	.clients__item-text-wrapper {
		gap: 24px;
	}

	.clients__item-up-button {
		font-size: var(--text-S);
	}

	.agency__text-and-card-wrapper {
		gap: 40px;
	}

	.agency__card {
		border-radius: var(--radius-l);
	}

	.agency__card-no-border {
		border-radius: var(--radius-l);
	}

	.agency__card-no-border::after {
		border-radius: var(--radius-l);
	}

	.start__title {
		margin: 64px 0 40px 0;
	}

	.start__cards_wrapper {
		gap: 18px;	
		margin-bottom: 63px;
	}

	.start__card {
		padding: 16px 16px 24px 16px;
	}

	.start__card-white {
		padding: 16px 16px 24px 16px;
	}

	.start__container {
		margin: 0 24px;
	}

	.questions__items-wrapper {
		gap: 16px;
	}

	.company__grid-item {
		border-radius: var(--radius-l)
	}

	.company__grid-item-no-border {
		border-radius: var(--radius-l)
	}

	.company__grid-item-no-border::after {
		border-radius: var(--radius-l)
	}

	.footer__btn {
		padding: 14px 84.5px;
	}
}

