@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", serif;
}

html {
  	scroll-behavior: smooth;
	font-family: "Montserrat", serif;
}

body {
	background-color: var(--bg-light);
	font-family: "Montserrat", serif;
	align-items: center;
}

.link {
	text-decoration: none;
	cursor: pointer;
}

.title {
	color: var(--primary-default);
	font-family: "Montserrat", serif;
	font-weight: 800;
	font-size: var(--text-display);
	opacity: 30%;
	margin: var(--title-top) var(--all-left-right);

	position: sticky;
	top: 20px;
	z-index: 1;
	pointer-events: none;
}

.wrapper {
	position: relative;
	z-index: 2;
	width: 100%;
	max-width: 1180px;
	flex-direction: column;
	align-self: center;
}

.description {
	font-family: "Montserrat", serif;
	font-size: var(--text-M);
	color: var(--text-secondary);
	line-height: var(--text-h4-line);
}


.home {
	background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
	color: var(--text-primary);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: var(--all-top-bottom) var(--all-left-right);
	border-radius: var(--radius-xxl);
	position: relative;
	overflow: hidden;
	transition: background 800ms ease-in-out;
	height: 800px;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.home.scrolled {
    background: linear-gradient(224.87deg, #6CC8F1 0%, #78A6FF 13.46%, #7E96FF 37.98%, #888BFF 56.25%, #978CFF 82.21%, #B97BFF 100%);;
}

.home__header-container {
	position: fixed;
	top: var(--header-top);
	z-index: 10;

	box-sizing: border-box;
	padding: 0 var(--headr-padding);

	min-height: var(--headr-height);

	display: flex;
	justify-content: space-between;
	align-items: center;

	width: calc(100% - var(--headr-left-right));

	background-color: var(--bg-surface-70);
	border-radius: var(--radius-l);
}

.home__header-container.scrolled {
    opacity: 1;
}

/* nav */
.home__header-links-wrapper > div {
	display: flex;
	gap: 24px;
}

.home__header-link {
	font-family: "Montserrat", sans-serif;
	color: var(--text-primary);
	font-size: var(--text-S);
	line-height: 18px;
}

.home__header-link:hover {
	color: var(--primary-blue);
}

.home__header-link:active {
	color: var(--primary-blue);
}

/* Лого */
.home__header-logo-container-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 7px;
}

.home__header-logo-alean {
	width: 136px;
	height: 40px;
}

.home__header-logo-travel {
	width: 91px;
	height: 16px;
}


/* burger */
.home__header-burger {
	display: var(--headr-burger);
	height: 48px;
	width: 48px;
}

.home__header-burger-button {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 48px;
	width: 48px;

	cursor: pointer;
}

.home__header-burger-button:before {
	content: '';
	display: block;
	width: 24px;
	height: 24px;
	background: url("./assets/burger.svg") center no-repeat;
	background-size: 24px auto;
	zoom: 1;
	transition: zoom .3s ease-in-out;
}

.home__header-burger-button:hover:before {
	zoom: 1.2;
}

.home__header-burger-button:active:before {
	zoom: 1.4;
}

@media (max-width: 1280px) {
	.home__header-container {
		flex-direction: column;

		transition: background-color .4s ease-in-out;
	}

	.home__header-logo-container {
		width: 100%;
		min-height: var(--headr-height);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.home__header-links-wrapper {
		overflow: hidden;

		max-height: 0;
		transition: max-height .3s ease-in-out;
	}

	.home__header-links-wrapper > div {
		padding-bottom: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.show-nav.home__header-container {
		background-color: var(--bg-surface-90);
	}

	.show-nav .home__header-links-wrapper {
		max-height: 250px;
	}
}

.home__description {
	padding: 184px 95px 0 95px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	position: relative;
    z-index: 2;
}

.home__title {
	font-weight: 800;
	font-size: var(--text-display);
	color: var(--bg-invert);
	font-family: "Montserrat", serif;
	line-height: 112%;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
}

.home__text {
	font-weight: 600;
	font-family: "Montserrat", serif;
	font-size: var(--text-h1);
	color: var(--bg-invert);
	line-height: 120%;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
}

/* Новый текст (скрыт изначально) */
.home__title-new {
    font-size: var(--text-h4);
    color: var(--bg-invert);
    font-family: "Montserrat", serif;
    line-height: var(--text-h4-line);
	font-weight: 400;
}

.home__title-new ~ .home__title-new {
	margin-top: 10px;
}

.home__text-new {
	margin-top: var(--title-text-margin);
    font-weight: 500;
    font-family: "Montserrat", serif;
    font-size: var(--text-h3);
    color: var(--bg-invert);
	line-height: var(--text-h3-line);
}



.home__img-heart {
	position: absolute;
	z-index: 1;
	width: 585px;
	height: 560px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	clip-path: url(#svgAleanPath);
	background: linear-gradient(217.82deg, rgba(108, 200, 241, 0.5) 8.81%, rgba(120, 166, 255, 0.5) 28.13%, rgba(126, 150, 255, 0.5) 37.29%, rgba(136, 139, 255, 0.5) 47.75%, rgba(151, 140, 255, 0.5) 54.16%, rgba(185, 123, 255, 0.5) 73.81%);
	backdrop-filter: blur(4px);

	pointer-events: none;

	transition: transform 0.8s ease-in-out, left 0.8s ease-in-out, top 0.8s ease-in-out;
}

.home__img-heart.scrolled {
	left: 27%;

	background: url("./assets/partnership.png");
	background-size: cover;

	transform: translate(-50%, -50%) scale(0.8);
}

/* new */
.home__description-new {
	position: absolute;
	top: 50%;
	left: 70%;
	width: 100%;
	max-width: 600px;
	box-sizing: border-box;
	transform: translate(-50%, -50%) translateX(30px);
	opacity: 0;
	z-index: 4;
	display: flex;
	flex-direction: column;
	transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
	pointer-events: none;
}

.home__description-new.visible {
	opacity: 1;
	transform: translate(-50%, -50%) translateX(0);
}

@media (max-width: 1360px) {
	.home__description-new {
		left: 72%;
	}
}

@media (max-width: 1280px)  {
	.home {
		height: 640px;
	}

	.home__img-heart {
		width: 429px;
		height: 402px;
		clip-path: url(#svgAleanPath2);
	}

	.home__img-heart.scrolled {
		left: 29%;
	}

	.home__description-new {
		max-width: 400px;
		left: 71%;
	}
}

@media (max-width: 1115px) {
	.home__img-heart.scrolled {
		left: 22%;
	}

	.home__description-new {
		max-width: 400px;
		left: 71%;
	}
}

@media (max-width: 899px) {

	.home__img-heart.scrolled {
		top: 40%;
		left: 50%;
	}

	.home__description-new {
		top: auto;
		bottom: 4%;
		left: 0;
		max-width: 100%;
		box-sizing: border-box;
		padding: var(--all-left-right);
		transform: translate(0, 0) translateX(30px);
	}

	.home__description-new.visible {
		transform: translate(0, 0) translateX(0);
	}
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: var(--radius-xxl);
    transition: opacity 800ms ease-in-out;
}

.slider.hidden {
    opacity: 0;
    pointer-events: none;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateX(30px);
    border-radius: var(--radius-xxl);
}

.slide.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 2;
    border-radius: var(--radius-xxl);
}

.slide.next {
    transform: translateX(30px);
    z-index: 1;
    border-radius: var(--radius-xxl);
}

.intro {
	background: linear-gradient(224.87deg, #6CC8F1 0%, #78A6FF 13.46%, #7E96FF 37.98%, #888BFF 56.25%, #978CFF 82.21%, #B97BFF 100%);
	display: flex;
	flex-direction: column;
	border-radius: var(--radius-xxl);
	margin: 24px 40px;
}

.intro__container {
	margin: 0 auto;
}

.intro__wrapper {
	display: flex;
	justify-content: space-between;
	margin: 120px 0;
	gap: 80px;
}

.intro__text-wrapper {
	font-size: var(--text-h3);
	font-family: "Montserrat", serif;
	color: var(--bg-invert);
	max-width: 540px;
	line-height: 120%;
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-self: center;
}

.intro__text {
	line-height: 120%;
}

.intro__img {
	width: 520px;
	height: 498px;
}

.company {
	display: flex;
	flex-direction: column;
	margin: 0 var(--all-left-right);
}

.company__item {
	display: flex;
	gap: 48px;
}

.company__wrapper {
	margin: 0 auto;
}

.company__item-left {
	max-width: 360px;
	width: 100%;
}

.company__text-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.company__item-title-up {
	margin-bottom: 8px;
}


.item-title {
	color: var(--primary-default);
	font-weight: 500;
	font-family: "Montserrat", serif;
	font-size: var(--text-caption);
}

.item-subtitle {
	color: var(--text-primary);
	font-weight: 500;
	font-size: var(--text-h2);
	font-family: "Montserrat", serif;
	line-height: var(--text-h2-line);
}

.company__wrapper {
	display: flex;
	flex-direction: column;
	gap: 80px;
	margin-bottom: 80px;
}

.company__right {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 24px;
    align-items: start;
}



.company__grid-item {
    position: relative;
    border-radius: var(--radius-xl);
    padding: 24px 24px 40px 24px;
    border: 2px solid transparent;
    background:
            linear-gradient(#1F283A, #1F283A) padding-box,
            linear-gradient(224.87deg, #6CC8F1 0%, #78A6FF 13.46%, #7E96FF 37.98%, #888BFF 56.25%, #978CFF 82.21%, #B97BFF 100%) border-box;
    isolation: isolate;
	box-sizing: border-box;
}



.company__grid-item-no-border {
    position: relative;
    align-items: flex-start;
    padding: 24px 24px 40px 24px;
    isolation: isolate;
    background: #1B2B4A;
    border-radius: var(--radius-xl);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
	box-sizing: border-box;
	z-index: 0;
}

/*фон*/
.company__grid-item-no-border::after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(236.05deg, #6CC8F1 -16.56%, #78A6FF 14.44%, #7E96FF 29.12%, #888BFF 45.9%, #978CFF 56.19%, #B97BFF 87.71%);
    opacity: 0.2;
    backdrop-filter: blur(7.32816px);
    border-radius: var(--radius-xl);
    z-index: -1;
}

.company__logo {
	width: 56px;
	height: 56px;
	margin-bottom: 24px;
}

.company__item-description-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.company__item-right-title {
	font-family: "Montserrat", serif;
	font-weight: 600;
	font-size: var(--text-h4);
	color: var(--text-primary);
	margin-bottom: 8px;
	line-height: var(--text-h4-line);
}

.company__item-right-description {
	font-family: "Montserrat", serif;
	font-size: var(--text-S);
	color: var(--text-secondary);
	line-height: var(--text-S-line);
}

.services {
	background-color: var(--bg-surface);
	margin: 24px var(--all-left-right);
	border-radius: var(--radius-xxl);
	display: flex;
	flex-direction: column;
	padding-bottom: 80px;
}

.services__title {
	margin-top: 80px;
}

.services__wrapper {
	display: flex;
	flex-direction: column;
	gap: 80px;
	margin: 0 auto;
}

.services__item {
	display: flex;
	min-height: 600px;
	gap: 40px;
	align-items: stretch;
}

.services__item-with-img {
    display: flex;
	width: 560px;
	height: inherit;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	border-radius: var(--radius-xl);
}

.services_img_lugage {
	background-image: url("./assets/lugage2.png");
}

.services_img_mice {
	background-image: url("./assets/mice.png");
}

.services_img_sport {
	background-image: url("./assets/sport.png");
}

.services_img_health {
	background-image: url("./assets/health.png");
}

.services_img_festival {
	background-image: url("./assets/festival.png");
}

.services_img_excursion {
	background-image: url("./assets/excursion.png");
}

.services__text-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;

}

.services__link-wrapper {
	margin-top: 40px;
}

.services__item-title {
	margin-bottom: 8px;
}

.services__item-with-text {
	max-width: 560px;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 24px 24px 62px 40px;
}

.services__btn {
	padding: 18px 28px;
	display: inline-block;
}

.services__btn-wrapper {
	margin-top: 40px;
}

.link-wrapper {
	display: flex;
	align-items: center;
	gap: 12px;
	cursor: pointer;
}

.link-arrow {
	height: 24px;
	width: 24px;
}

.blue-link {
	font-family: "Montserrat", serif;
	font-weight: 600;
	color: var(--text-link);
	white-space: nowrap;
}

.blue-link:hover {
	color: var(--primary-pressed);
}

.blue-link:active {
	color: var(--primary-pressed);
}


.blue-button {
	background-color: var(--primary-blue);
	border-radius: var(--radius-l);
	font-family: "Montserrat", serif;
	color: var(--text-fixed);
	font-weight: 500;
	white-space: nowrap;
	border: 0;
	font-size: var(--text-M);
}

.blue-button:hover {
	background-color: var(--primary-hover);
}

.blue-button:active {
	background-color: var(--primary-pressed);
}

.clients__item-up-button {
	padding: 16px;
	display: inline-block;
}

.clients__item-up-button-wrapper {
	margin-top: 40px;
}

.clients__link-wrapper {
	margin-top: 40px;
}


.clients__item {
	display: flex;
	justify-content: space-between;
	gap: 80px;
	background-color: var(--bg-surface);
	border-radius: var(--radius-xxl);
}

.clients__item-left {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	padding-left: 40px;
	padding-bottom: 40px;
	flex: 1;
}

.clients {
	display: flex;
	flex-direction: column;
	margin: 0 var(--all-left-right) 24px var(--all-left-right);
}

.clients__title {
	margin-top: 80px;
}

.clients__wrapper {
	margin: 0 auto;
}

.clients__text-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}


.clients__img-screen {
	height: 447px;
	width: 500px;
	margin-top: 40px;
}

.clients__img-underscreen {
	height: 25px;
	width: 560px;
}

.clients__item-right {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-medium);
	border-radius: var(--radius-xxl);
	align-items: flex-end;
	max-width: 600px;
	width: 100%;
	margin-left: auto;
	flex-shrink: 0;

}

.clients__item-down {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-surface);
	border-radius: var(--radius-xxl);
	padding: 40px;
}

.clients__item-text-wrapper {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.clients__item-title {
	margin-bottom: 8px;
}


.clients__item-description {
	font-size: var(--text-caption);
	font-family: "Montserrat", serif;
	color: var(--text-primary);
}

.clients__items-wrapper {
	display: flex;
	flex-direction: column;
	gap: 80px;
}

.clients__cards-wrapper {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 24px 24px;
}

.clients__card-up {
	max-width: 384px;
	width: 100%;
	position: relative;
	border-radius: var(--radius-xl);
	display: flex;
	gap: 24px;
	padding: 24px 24px 40px 24px;
	background:
            linear-gradient(#1F283A, #1F283A) padding-box,
            linear-gradient(224.87deg, #6CC8F1 0%, #78A6FF 13.46%, #7E96FF 37.98%, #888BFF 56.25%, #978CFF 82.21%, #B97BFF 100%) border-box;
    border-radius: var(--radius-xl);
    border: 2px solid transparent;
	box-sizing: border-box;
}

.clients__card-up-no-border {
	max-width: 384px;
	width: 100%;
	position: relative;
	border-radius: var(--radius-xl);
	display: flex;
	gap: 24px;
	padding: 24px 24px 40px 24px;
	isolation: isolate;
    border-radius: var(--radius-xl);
	flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
	z-index: 0;
	box-sizing: border-box;
}

.clients__card-up-no-border::after {
	content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(236.05deg, #6CC8F1 -16.56%, #78A6FF 14.44%, #7E96FF 29.12%, #888BFF 45.9%, #978CFF 56.19%, #B97BFF 87.71%);
    opacity: 0.2;
    backdrop-filter: blur(7.32816px);
    border-radius: var(--radius-xl);
    z-index: -1;
	max-width: 384px;
	width: 100%;

}

.clients__down-btn {
	padding: 16px;
	display: inline-block;
}

.clients__down-button-wrapper {
	margin-top: 16px;
}

.clients__card-right {
	display: flex;
	flex-direction: column;
}

.clients__number-img {
	width: 56px;
	height: 56px;
}

.clients__card-down {
    max-width: 384px;
	border-radius: var(--radius-xl);
	display: flex;
	gap: 24px;
	padding: 24px 24px 60px 24px;
	background:
            linear-gradient(#1F283A, #1F283A) padding-box,
            linear-gradient(224.87deg, #6CC8F1 0%, #78A6FF 13.46%, #7E96FF 37.98%, #888BFF 56.25%, #978CFF 82.21%, #B97BFF 100%) border-box;
    backdrop-filter: blur(7.32816px);
    border-radius: var(--radius-xl);
    border: 2px solid transparent;

}

.clients__card-title {
	font-family: "Montserrat", serif;
	font-weight: 600;
	font-size: var(--text-h4);
	color: var(--text-primary);
	margin-bottom: 8px;
}

.clients__card-down-title {
	font-family: "Montserrat", serif;
	font-weight: 600;
	font-size: var(--text-h4);
	color: var(--text-primary);
}

.clients__card-up-description {
	font-family: "Montserrat", serif;
	font-size: var(--text-S);
	color: var(--text-secondary);
	line-height: var(--text-S-line);
}

.clients__card-down-description {
	font-family: "Montserrat", serif;
	font-size: var(--text-S);
	color: var(--text-secondary);
	line-height: var(--text-S-line);
}

.agency {
	display: flex;
	flex-direction: column;
	margin: 0 var(--all-left-right) 80px var(--all-left-right);
}

.agency__title {
	margin-top: 80px;
}

.agency__wrapper {
	margin: 0 auto;
}

.agency__text-and-card-wrapper {
	display: flex;
	gap: 48px;
}

.agency__left {
	max-width: 360px;
	width: 100%;
}

.agency__left {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.agency__right {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 24px 24px;
	align-items: start;
}

.agency__img {
	width: 56px;
	height: 56px;
}

.agency__card-text {
	font-family: "Montserrat", serif;
	font-weight: 600;
	font-size: var(--text-h4);
	color: var(--text-primary);
	line-height: var(--text-M-line);
}

.agency__card {
	max-width: 384px;
	border-radius: var(--radius-xl);
	display: flex;
	flex-direction: column;
	padding: 24px 24px 40px 24px;
	gap: 24px;
	background:
            linear-gradient(#1F283A, #1F283A) padding-box,
            linear-gradient(224.87deg, #6CC8F1 0%, #78A6FF 13.46%, #7E96FF 37.98%, #888BFF 56.25%, #978CFF 82.21%, #B97BFF 100%) border-box;
    backdrop-filter: blur(7.32816px);
    border-radius: var(--radius-xl);
    border: 2px solid transparent;
	box-sizing: border-box;
}

.agency__card-no-border {
    position: relative;
    display: flex;
	gap: 24px;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px 40px 24px;
	max-width: 384px;
    isolation: isolate;
    background: #1B2B4A;
    border-radius: var(--radius-xl);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
	box-sizing: border-box;
}

/*фон*/
.agency__card-no-border::after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(236.05deg, #6CC8F1 -16.56%, #78A6FF 14.44%, #7E96FF 29.12%, #888BFF 45.9%, #978CFF 56.19%, #B97BFF 87.71%);
    opacity: 0.2;
    backdrop-filter: blur(7.32816px);
    border-radius: var(--radius-xl);
    z-index: -1;
	box-sizing: border-box;
}


.start__title {
	color: var(--text-fixed);
	font-family: "Montserrat", serif;
	font-weight: 800;
	font-size: var(--text-display);
	opacity: 1;
}


.start {
	padding-top: 80px;
	margin: 0 40px;
	background: linear-gradient(224.87deg, #6CC8F1 0%, #78A6FF 13.46%, #7E96FF 37.98%, #888BFF 56.25%, #978CFF 82.21%, #B97BFF 100%);
	background-size: auto;
	border-radius: var(--radius-xxl);
	position: relative;
	z-index: 2;
}

.start_box {
	position: relative;
	top: 0;
	margin: 80px 40px 24px 40px;
	z-index: 3;
	overflow: hidden;
	border-radius: var(--radius-xxl);
	display: flex;
	flex-direction: column;
}

.start__cards_wrapper {
	display: flex;
	gap: 24px;
	max-width: 1200px;
	margin: 0 24px 120px 24px;
	justify-self: center;
}


.start__card-title {
	font-family: "Montserrat", serif;
	font-weight: 600;
	font-size: var(--text-h4);
	color: var(--text-primary);
	line-height: var(--text-caption-line);
}


.start__card-description {
	font-family: "Montserrat", serif;
	font-size: var(--text-S);
	color: var(--text-primary);
	line-height: var(--text-S-line);
}

.start__card {
    position: relative;
    background-color: transparent;
    border-radius: var(--radius-xl);
    max-width: 384px;
    width: 100%;
    padding: 24px 24px 40px 24px;
    display: flex;
    gap: 24px;
    z-index: 1;
}

.start__card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-tonal);
    border-radius: var(--radius-xl);
    opacity: 0.5;
    z-index: -1;
}

.start__card-white {
	background-color: var(--bg-invert);
	border-radius: var(--radius-xl);
	max-width: 384px;
	width: 100%;
	padding: 24px 24px 40px 24px;
	display: flex;
	gap: 24px;
	color: var(--text-invert);
}

.start__card-title-black {
	font-family: "Montserrat", serif;
	font-weight: 600;
	font-size: var(--text-h4);
	color: var(--text-invert);
	line-height: var(--text-caption-line);
}

.start__card-description-black {
	font-family: "Montserrat", serif;
	font-size: var(--text-S);
	color: var(--text-invert);
	line-height: var(--text-S-line);
}

.start__btn {
	padding: 16px 28px;
	display: inline-block;
}

.start__btn-wrapper {
	margin-top: 8px;
}

.start__card-right {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.questions__items-wrapper {
	display: flex;
	justify-self: center;
	flex-direction: column;
	gap: 24px;
	align-items: start;
	margin: 0 auto
}

.questions {
	display: flex;
	flex-direction: column;
	margin: 80px var(--all-left-right);
}

.questions__item {
	max-width: 800px;
	width: 100%;
	padding: 24px 24px 44px 24px;
	border-radius: var(--radius-xl);
	display: flex;
	gap: 24px;
	background:
            linear-gradient(#1F283A, #1F283A) padding-box,
            linear-gradient(224.87deg, #6CC8F1 0%, #78A6FF 13.46%, #7E96FF 37.98%, #888BFF 56.25%, #978CFF 82.21%, #B97BFF 100%) border-box;
    backdrop-filter: blur(7.32816px);
    border-radius: var(--radius-xl);
    border: 2px solid transparent;
	box-sizing: border-box;
}

.questions__item-no-border {
    position: relative;
    display: flex;
	gap: 24px;
    align-items: flex-start;
    padding: 24px 24px 44px 24px;
	max-width: 800px;
	width: 100%;
    isolation: isolate;
    border-radius: var(--radius-xl);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
	z-index: 0;
	box-sizing: border-box;
}

/*фон*/
.questions__item-no-border::after {
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
   	top: 0px;
    bottom: 0px;
    background: linear-gradient(236.05deg, #6CC8F1 -16.56%, #78A6FF 14.44%, #7E96FF 29.12%, #888BFF 45.9%, #978CFF 56.19%, #B97BFF 87.71%);
    opacity: 0.2;
    border-radius: var(--radius-xl);
    z-index: -1;
	backdrop-filter: blur(14px)
}

.questions__img {
	width: 56px;
	height: 56px;
}

.questions__item-title {
	font-family: "Montserrat", serif;
	font-weight: 600;
	font-size: var(--text-h4);
	color: var(--text-primary);
	line-height: var(--text-caption-line);
}

.questions__item-description {
	font-family: "Montserrat", serif;
	font-size: var(--text-S);
	color: var(--text-secondary);
	line-height: var(--text-S-line);
}

.questions__item-right {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.footer {
	background-image: url(./assets/foooter.png);
	background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
	margin: 24px var(--all-left-right);
	border-radius: var(--radius-xxl);
	position: relative;
	align-items: center;
	z-index: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
	margin: 320px 0;
	gap: 24px;
	position: relative;
	z-index: 20;
}

.footer__img-heart,
.footer__img-heart:before {
	position: absolute;
	z-index: 1;
	width: 727px;
	height: 682px;
}

.footer__img-heart {
	top: 120px;
	clip-path: url(#svgAleanPath);
	background: linear-gradient(217.82deg, rgba(108, 200, 241, 0.3) 8.81%, rgba(120, 166, 255, 0.3) 28.13%, rgba(126, 150, 255, 0.3) 37.29%, rgba(136, 139, 255, 0.3) 47.75%, rgba(151, 140, 255, 0.3) 54.16%, rgba(185, 123, 255, 0.3) 73.81%);
	backdrop-filter: blur(4px);
}

.footer__img-heart:before {
	top: 0;
	content: '';
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.footer__title {
	font-family: "Montserrat", serif;
	color: var(--text-fixed);
	font-weight: 600;
	font-size: var(--text-h1);
	text-align: center;
	margin: 0 auto;
}

.footer__mail-wrapper {
	display: flex;
	gap: 16px;
	align-items: center;
}

.footer__phone-wrapper {
	display: flex;
	gap: 16px;
	align-items: center;
}

.footer__items-wrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.footer__mail-link {
	font-weight: 600;
	font-size: var(--text-L);
	line-height: var(--text-L-line);
}

.footer__mail-link:hover {
	color: var(--primary-hover)
}

.footer__mail-link:active {
	color: var(--primary-pressed)
}

.footer__phone-link {
	font-family: "Montserrat", serif;
	font-weight: 600;
	line-height: var(--text-L-line);
	color: var(--text-fixed);
}

.footer__btn {
	padding: 16px 95px;
	margin-top: 16px;
}

@media (max-width: 1280px) {
	.start__cards_wrapper {
		display: flex;
		flex-direction: column;
	}

	.start__card {
		max-width: 804px;
		width: 100%;
	}

	.start__card-white {
		max-width: 804px;
		width: 100%;
	}

	.blue-button {
		padding: 14px 24px;
		font-size: var(--text-S);
	}

}

@media (max-width: 899px) and (min-width: 601px) {
	.agency__text-and-card-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.company__item {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.clients__item {
		display: flex;
		flex-direction: column;
	}

	.clients__item-right {
		margin: 0px;
		width: 100%;
        	max-width: 100%;
	}


	.clients__cards-wrapper {
		display: flex;
		flex-direction: column;
	}

	.company__text-wrapper {
		width: 100%;
		max-width: 100%;
	}

	.company__wrapper {
		gap: 24px;
	}

	.company__text-wrapper {
		gap: 12px;
	}

	.company__right {
		gap: 12px;
	}

	.company__grid-item {
		border-radius: var(--radius-m);
		padding: 12px 12px 16px 12px;
	}

	.company__grid-item-no-border {
		border-radius: var(--radius-m);
		padding: 12px 12px 16px 12px;
	}

	.company__grid-item-no-border::after {
		border-radius: var(--radius-m);
		padding: 12px 12px 16px 12px;
	}

	.company__logo {
		margin-bottom: 12px;
	}

	.services__text-wrapper {
		gap: 12px;
	}

	.services__item-with-text {
		padding: 12px 16px 28px 16px;
	}

	.services__btn-wrapper {
		margin-top: 16px;
	}

	.services__wrapper {
		gap: 24px;

	}

	.services__item-with-img {
		padding: 0 16px;
	}

	.services__item {
		gap: 0;
	}

	.clients__item-up-button-wrapper {
		margin-top: 16px;

	}

	.clients__link-wrapper {
		margin-top: 16px;
	}

	.clients__item-left {
		padding: 16px;

	}

	.clients__item {
		gap: 32px;
	}

	.clients__img-screen {
		margin-top: 16px;
	}

	.clients__img-underscreen {
		margin-bottom: 16px;
	}

	.clients__item-down {
		padding: 16px;
	}

	.clients__card-up {
		padding: 12px 12px 12px 16px;
		border-radius: var(--radius-m);
		gap: 12px;
	}

	.clients__card-up-no-border {
		padding: 12px 12px 12px 16px;
		border-radius: var(--radius-m);
		gap: 12px;
	}

	.clients__card-down {
		padding: 12px 12px 12px 16px;
		border-radius: var(--radius-m);
		gap: 12px;
	}

	.clients__card-up-no-border::after {
		padding: 12px 12px 12px 16px;
		border-radius: var(--radius-m);
	}

	.agency__wrapper {
		margin-top: 24px;
	}

	.agency__text-and-card-wrapper {
		gap: 36px;
	}

	.agency__right {
		gap: 12px 12px;
	}

	.agency__card {
		padding: 12px 12px 12px 16px;
		gap: 12px;
	}

	.agency__card-no-border {
		padding: 12px 12px 12px 16px;
		gap: 12px;
	}

	.start__card::before {
		border-radius: var(--padding-radius-s);
	}

	.start__card {
		padding: 12px 12px 16px 12px;
		gap: 12px;
	}

	.start__card-white {
		border-radius: var(--padding-radius-s);
		padding: 12px 12px 16px 12px;
		gap: 12px;
	}

	.start__cards_wrapper {
		margin-left: 16px;
		margin-right: 16px;
		margin-bottom: 39.6px;
	}

	.start__container {
		margin: 0 16px;
	}

	.questions {
		margin-top: 16px;
	}

	.questions__items-wrapper {
		gap: 12px;
	}

	.questions__item {
		padding: 12px 12px 16px 12px;
		border-radius: var(--padding-radius-s);
		gap: 12px;

	}

	.questions__item-no-border {
		padding: 12px 12px 16px 12px;
		border-radius: var(--padding-radius-s);
		gap: 12px;
	}

	.questions__item-no-border::after {
		border-radius: var(--padding-radius-s);
	}

	.agency__card {
		border-radius: var(--radius-m);
	}

	.agency__card-no-border {
		border-radius: var(--radius-m);
	}

	.agency__card-no-border::after {
		border-radius: var(--radius-m);
	}

	.footer__btn {
		padding: 14px 80.5px;
	}

	.footer__items-wrapper {
		gap: 12px;
	}

	.footer__wrapper {
		gap: 12px;
	}

	.footer__btn {
		margin-top: 8px;
	}
}

@media (max-width: 600px) {
	.company__right {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.company__item {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.company__grid-item {
		border-radius: var(--radius-m);
		padding: 12px 12px 16px 12px;
	}

	.company__grid-item-no-border {
		border-radius: var(--radius-m);
		padding: 12px 12px 16px 12px;
	}

	.company__grid-item-no-border::after {
		border-radius: var(--radius-m);
		padding: 12px 12px 16px 12px;
	}

	.company__logo {
		margin-bottom: 12px;
	}

	.services__item {
		display: flex;
		flex-direction: column;
	}

	.agency__right {
		display: flex;
		flex-direction: column;
	}

	.company__text-wrapper {
		gap: 12px;
	}

	.company__wrapper {
		gap: 24px;
	}

	.services {
		margin-top: 12px;
		margin-left: 16px;
		margin-right: 16px;
	}

	.services__text-wrapper {
		gap: 12px;
	}

	.services__btn-wrapper {
		margin-top: 16px;
	}

	.services__item {
		gap: 24px;
	}

	.services__item-with-img {
    		order: 1;
		padding: 12px 16px;
	}

	.services__item-with-text {
    		order: 2;
		padding: 12px 16px;
	}

	.services__wrapper {
		gap: 8px;
	}

	.services {
		padding-bottom: 24px;
	}

	.clients__item {
		display: flex;
		flex-direction: column;
	}

	.clients__item-left {
		padding: 16px 16px 0 16px;
	}

	.clients__item-up-button-wrapper {
		margin-top: 16px;
	}

	.clients__link-wrapper {
		margin-top: 16px;
	}

	.clients__item {
		gap: 34px;
	}

	.clients__item-down {
		padding: 16px;
	}

	.clients__item-subtitle {
		margin-bottom: 12px;
	}

	.clients__item-text-wrapper {
		gap: 16px;
	}

	.clients__item-description {
		line-height: var(--text-caption-line);
	}

	.clients__cards-wrapper {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.clients__card-up {
		padding: 12px 12px 12px 16px;
		border-radius: var(--radius-m);
		gap: 12px;
	}

	.clients__card-up-no-border {
		padding: 12px 12px 12px 16px;
		border-radius: var(--radius-m);
		gap: 12px;
	}

	.clients__card-down {
		padding: 12px 12px 12px 16px;
		border-radius: var(--radius-m);
		gap: 12px;
	}

	.clients__card-up-no-border::after {
		padding: 12px 12px 12px 16px;
		border-radius: var(--radius-m);
	}

	.agency__text-and-card-wrapper {
		display: flex;
		flex-direction: column;
		gap: 36px;
	}

	.agency__right {
		gap: 12px;
	}

	.agency__card {
		padding: 12px 12px 12px 16px;
		gap: 12px;
		border-radius: var(--radius-m);
	}

	.agency__card-no-border {
		padding: 12px 12px 12px 16px;
		gap: 12px;
		border-radius: var(--radius-m);
	}

	.agency__card-no-border::after {
		border-radius: var(--radius-m);
	}

	.agency {
		margin-bottom: 36px;
	}

	.start__cards_wrapper {
		gap: 12px;
		margin-bottom: 39.6px;
	}

	.start__card-white {
		padding: 12px 12px 16px 12px;
		border-radius: var(--padding-radius-s);
		gap: 12px;
	}

	.start__card::before {
		border-radius: var(--padding-radius-s);
	}

	.start__card {
		padding: 12px 12px 16px 12px;
		gap: 12px;
	}

	.start__container {
		margin: 0 16px;
	}

	.questions__item-title {
		line-height: var(--text-h4-line);
	}

	.questions__item {
		padding: 12px 12px 16px 12px;
		border-radius: var(--padding-radius-s);
		gap: 12px;
	}

	.questions__item-no-border {
		padding: 12px 12px 16px 12px;
		border-radius: var(--padding-radius-s);
		gap: 12px;
	}

	.questions__item-no-border::after {
		border-radius: var(--padding-radius-s);
	}

	.questions__title {
		margin: 24px 0;
	}

	.footer__btn {
		padding: 14px 44.5px;
	}

	.footer__items-wrapper {
		gap: 12px;
	}

	.footer__wrapper {
		gap: 12px;
	}

	.footer__btn {
		margin-top: 4px;
	}


}

@media (max-width: 1280px) and (min-width: 900px) {
	.company__item {
		gap: 16px;
	}

	.clients__cards-wrapper {
		grid-template-columns: repeat(2, 1fr);
		gap: 16px 16px;
	}

	.company__wrapper {
		gap: 40px;
	}

	.services__item-with-text {
		padding-top: 24px;
		padding-right: 24px;
		padding-left: 24px;

	}

	.services__item-with-img {
		padding-top: 24px;
		padding-right: 24px;
		padding-left: 24px;
	}

	.services__item {
		gap: 16px;
	}

	.services__btn {
		padding: 16px 28px;
	}

	.clients__item-left {
		padding-left: 24px;
		padding-top: 24px;
		padding-bottom: 24px;

	}

	.clients__item {
		gap: 24px;
	}

	.clients__item-up-button-wrapper {
		margin-top: 24px;
	}

	.clients__link-wrapper {
		margin-top: 24px;
	}

	.clients__item-down {
		padding: 24px;
	}

	.clients__item-text-wrapper {
		gap: 24px;
	}

	.clients__item-up-button {
		font-size: var(--text-S);
	}

	.clients__card-up {
		gap: 16px;
		padding: 16px 16px 24px 16px;
	}

	.clients__card-up-no-border {
		gap: 16px;
		padding: 16px 16px 24px 16px;
	}

	.clients__card-down {
		gap: 16px;
		padding: 16px 16px 24px 16px;
	}

	.agency__text-and-card-wrapper {
		gap: 40px;
	}

	.agency__card {
		border-radius: var(--radius-l);
		padding: 16px 16px 24px 16px;
		gap: 16px;
	}

	.agency__card-no-border {
		border-radius: var(--radius-l);
		padding: 16px 16px 24px 16px;
		gap: 16px;
	}

	.agency__card-no-border::after {
		border-radius: var(--radius-l);
		padding: 16px 16px 24px 16px;
		gap: 16px;
	}

	.start__cards_wrapper {
		gap: 18px;
		margin-bottom: 63px;
	}

	.start__card {
		padding: 16px 16px 24px 16px;
		gap: 16px;
	}

	.start__card-white {
		padding: 16px 16px 24px 16px;
		gap: 16px;
	}

	.start__container {
		margin: 0 24px;
	}

	.questions__items-wrapper {
		gap: 16px;
	}

	.questions__item {
		padding: 16px 16px 24px 16px;
		gap: 16px;
	}

	.questions__item-no-border {
		padding: 16px 16px 24px 16px;
		gap: 16px;
	}

	.company__grid-item {
		border-radius: var(--radius-l);
		gap: 16px;
		padding: 16px 16px 24px 16px;
	}

	.company__grid-item-no-border {
		border-radius: var(--radius-l);
		gap: 16px;
		padding: 16px 16px 24px 16px;
	}

	.company__grid-item-no-border::after {
		border-radius: var(--radius-l);
		gap: 16px;
		padding: 16px 16px 24px 16px;
	}

	.footer__btn {
		padding: 14px 84.5px;
	}

	.company__logo {
		margin-bottom: 16px;
	}

	.footer__items-wrapper {
		gap: 16px;
	}

	.footer__wrapper {
		gap: 16px;
	}

	.footer__btn {
		margin-top: 8px;
	}
}

